body {
    background-color: #f7f9fc;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    padding-top: 20px;
}

h2 {
    font-family: 'Bona Nova SC', serif;
}
.btn{
    cursor: pointer;
}
/*nav bar*/
.navbar {
    margin-bottom: 20px;
}
.navbar-brand {
    font-family: 'Bona Nova SC', serif;
    font-weight: 700;
    font-size: xx-large;
}

/*hero section*/
.hero-section {
    background-image: url('images/Designer.jpeg');
    background-size: cover;
    background-position: center;
    color: #e0e0e0; 
    position: relative;
    z-index: 1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
}
.text-center {
    position: relative;
    z-index: 2;
}
.hero-section .container-fluid {
    position: relative;
    z-index: 2;
}

/*feedback button*/
.feedback-form {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.feedback-form .btn {
    background-color: #00bcd4;
    color: white;
}

#result{
    word-wrap: break-word;
}
#inputText, #key, #result{
    margin-bottom: 10px;
}

/*footer*/
.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    
}
.footer-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}
.footer-icons a {
    color: #495057;
    font-size: 24px;
}

/* Media Queries */
@media (max-width: 768px) {
    .hero-section {
        height: 60vh;
        padding: 20px;
    }
}
@media (max-width: 576px) {
    .footer-icons {
        flex-wrap: wrap;
    }
    .footer-icons a {
        margin-bottom: 10px;
    }
}