body {
    background-color: #f7f9fc;
    color: #333;
    font-family: Arial, sans-serif;
}

.navbar {
    margin-bottom: 20px;
}

.feedback-form {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.feedback-form .btn {
    background-color: #00bcd4;
    color: white;
}
.navbar-brand{
    font-family: 'Bona Nova SC';
    font-weight: 700;
}